.Home-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica,'Microsoft Yahei', sans-serif;
}
.Home-div-account{
    text-align: center;
}
.home-left-contact{
    text-align: center;
}
.home-left-contact >img{
    width: 95%;
    text-align: center;
}
.home-left-info{
    text-align: center;
    height: 100%;
    text-indent:2em;
    padding: 2rem;
}
.home-left-account{
    text-align: center;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
